<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sell Your Products</title>
</head>
<body>

<h2>Upload Details.</h2>

<form name = "sell" action = 'sell' method = "post" enctype = "multipart/form-data">
{% csrf_token %}

    <input type = 'text' name = 'pname' placeholder="Product Name." required> <br> <br>

    <input type = 'number' name = 'price' placeholder="Product Price." required> <br> <br>

    <p>Product description in 50 - 200 words</p>


     <textarea name="des" rows="10" cols="30"></textarea>
    <br>

    <input type = 'file' name = 'prod'>
    <br>

    <p>Choose a file to upload Photo of your product.</p>
    <br>
    <button type = 'submit'>Sell</button>

</form>

</body>
</html>